.battle {
  align-items: center;
  display: none;
  justify-content: space-around;
  margin: 0;
  height: 500px;
  &__option {
    cursor: default;
    padding: 20px;
    pointer-events: none;
  }
  &__score {
    padding: 0 20px;

    & .result {
      @include font-title(32px, $light-color);
      margin-bottom: 25px;
    }
  }
  &__title {
    @include font-title(16px, $light-color);
    margin-bottom: 35px;
    padding: 5px;
  }

  & .option__background {
    height: 200px;
    width: 200px;
  }
}
