.game {
  height: 500px;
  margin: auto;
  width: 500px;
  visibility: visible;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // For style triangle
  position: relative;

  &__triangle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__option {
    width: 50%;
    z-index: 1;
    transition: all 0.5s;
  }
}

.game.hide {
  visibility: hidden;
  & .game__option {
    display: none;
  }
  & .game__option.active {
    display: flex;
    visibility: visible;
    transform: scale(1.4);
  }

  // Duplicate element and change figure
}

.option {
  cursor: pointer;
  transform: scale(1);
  transition: 0.25s;
  &__background {
    @include flex-position(row, center, center, 0);
    background-color: $lizard-gradient-end;
    border-radius: 50%;
    box-shadow: 0 8px 0 0 darken($lizard-gradient-end, 30%);
    height: 160px;
    width: 160px;
    margin: auto;

    &--yellow {
      background-color: $scissors-gradient-end;
      box-shadow: 0 8px 0 0 darken($scissors-gradient-end, 30%);
    }
    &--red {
      background-color: $rock-gradient-start;
      box-shadow: 0 8px 0 0 darken($rock-gradient-end, 30%);
    }

    & img {
      height: 50%;
    }
  }
  &__border {
    @include flex-position(row, center, center, 0);

    background-color: $light-color;
    border-radius: 50%;
    height: 75%;
    width: 75%;

    // Add shade to circles
    position: relative;
    &::before {
      content: "";
      border-radius: 50%;
      box-shadow: 0 -8px 0 0 darken($light-color, 30%);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 7px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.space {
  width: 30px;
  background-color: red;
  height: 50px;
}
