@mixin flex-position($direction, $justify, $align, $padding) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  padding: $padding;
}

@mixin font-title($size, $color) {
  color: $color;
  font-size: $size;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin button {
  background-color: transparent;
  border: 2px solid $light-color;
  border-radius: 10px;
  color: $light-color;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 15px 40px;
  text-transform: uppercase;
}
